*{
    padding: 0%;
    margin: 0px;
}
body{
    height: 100vh;
    background: rgb(48, 47, 47);
    color: aliceblue;
}
.container{
    width: 50%;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    font-size: 45px;
    font-family: system-ui;
    font-weight: 600;
    height: 80%;
    
    
}
span{
    color: gold;
}
#display{
    width: 98.5%;
    background: rgb(196, 81, 109);
    margin-bottom: 2px;
   
}

.square{
    width: 31%;
    height: 34%;
    font-size: 110px;
    background: rgb(196, 81, 109);
    padding: 2px;
    margin: 4px;
    float: left;
}
.square:hover{
    background: #000;
    cursor: pointer;
}

@media (max-width:950px) {
    body{
        height: 100vh;
        background: rgb(48, 47, 47);
        color: aliceblue;
    }
    .container{
        width: 80%;
        margin: auto;
        padding-top: 30px;
        text-align: center;
        
        font-family: system-ui;
        font-weight: 600;
        
        
        
    }

    #display{
        width: 98.5%;
        background: rgb(196, 81, 109);
        margin-bottom: 2px;
	margin-top: 40px;
	font-size: 45px;
       
    }
    
    .square{
        width: 30%;
        height: 25%;
        font-size: 90px;
        background: rgb(196, 81, 109);
        padding: 2px;
        margin: 4px;
        float: left;
    }
          
}
